@import './src/scss/exports';

header {
  .navbar-brand {
    img {
      width: 55px;
    }
  }

  .navbar-collapse {
    .navbar-nav {
      .nav-link {
        color: #a3a3a3;
        &--active {
          color: #ffffff;
        }
      }
    }
  }
}
